@using PacificTours.Shared.Entities
@inject HttpClient Http

<h3>All Hotels</h3>

@if (_hotels is null)
{
    <span>Loading Hotels...</span>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Cost of Single Room</th>
            <th>Cost of Double Room</th>
            <th>Cost of Family Room</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var hotel in _hotels)
            {
                <tr>
                    <td width="15%">@hotel.Name</td>
                    <td width="9%">£@hotel.SingleCost</td>
                    <td width="9%">£@hotel.DoubleCost</td>
                    <td width="9%">£@hotel.FamilyCost</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Hotel>? _hotels;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Hotel>>("api/Hotels");
        if (result != null)
        {
            _hotels = result;
        }
    }
}