@using PacificTours.Shared.Entities
@inject HttpClient Http

<h3>All Tours</h3>

@if (_tours is null)
{
    <span>Loading Tours...</span>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Cost (£)</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var tour in _tours)
            {
                <tr>
                    <td width="15%">@tour.Name</td>
                    <td width="9%">@tour.Duration</td>
                    <td width="9%">@tour.Cost</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Tour>? _tours;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Tour>>("/api/AllTours");
        if (result != null)
        {
            _tours = result;
        }
    }

    void BookTour(int id)
    {
        
        
    }

}