@using PacificTours.Shared.Entities
@inject HttpClient Http

<h3>HotelSearch</h3>

<InputDate TValue="DateTime" @bind-Value="_date1" Placeholder="Enter Start Date"/>
<InputDate TValue="DateTime" @bind-Value="_date2" Placeholder="Enter End Date"/>
<button class="btn btn-primary" @onclick="GetHotelsBetweenDates">Submit</button>

<br/>

@if (_display)
{
    @if (_hotels is null)
    {
        <span>Loading Hotels...</span>
    }
    else
    {
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Cost of Single Room (£)</th>
                <th>Cost of Double Room (£)</th>
                <th>Cost of Family Room (£)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var hotel in _hotels)
            {
                <tr>
                    <td width="15%">@hotel.Name</td>
                    <td width="9%">@hotel.SingleCost</td>
                    <td width="9%">@hotel.DoubleCost</td>
                    <td width="9%">@hotel.FamilyCost</td>
                    @* <td><button @onclick="(() => BookHotel(hotel.Id))" class="btn btn-primary">Book</button></td> *@
                </tr>
            }
            </tbody>
        </table>
    }
}


@code {
    private DateTime _date1 = DateTime.Now.AddDays(1);
    private DateTime _date2 = DateTime.Now.AddDays(1);

    private bool _display = false;
    List<Hotel>? _hotels;
    
    private async Task GetHotelsBetweenDates()
    {
        Console.WriteLine(_date1);
        _display = true;
        var package = (_date1, _date2);
        var result = await Http.GetFromJsonAsync<List<Hotel>>($"/api/HotelSearch/GetDates?startDate={_date1:yyyy-MM-dd}&endDate={_date2:yyyy-MM-dd}");
        // var result = await Http.GetFromJsonAsync<List<Hotel>>($"/api/HotelSearch{package}");
        
        Console.WriteLine(result.First().Name);
        Console.WriteLine(result.First().FamilyCost);
        
        if (result != null)
        {
            _hotels = result;
        }
    }
}