@page "/BookingInfo"
@using PacificTours.Shared.Entities
@using PacificTours.Shared
@inject HttpClient Http

<h3>Booking Info</h3>

@if (_hotelBooking is null && _tourInfo is null)
{
    Console.WriteLine("booking is null");
    <span>Loading Booking Info...</span>
    <br/>
    
    <div style="display:block; width:100%;">
        <div style="width:50%; float: left; display: inline-block;">
            <h5>Hotel Booking</h5>
            <div>Name: </div>
            <div>Room Type: </div>
            <div>Cost: </div>
        </div>
        <div style="width:50%; float: left; display: inline-block;">
            <h5>Tour Booking</h5>
            <div>Name: </div>
            <div>Duration: </div>
            <div>Cost: </div>
        </div>
    </div>
}
else
{
    @if (_hotelBooking is not null)
    {
        Console.WriteLine("hotel booking not null but tour is");
        <div style="display:block; width:100%;">
            <div style="width:50%; float: left; display: inline-block;">
                <h5>Hotel Booking</h5>
                <div>Name:</div>
                <div>Room Type: </div>
                <div>Cost: </div>
            </div>
        </div>
    }
    else if (_tourInfo is not null)
    {
        Console.WriteLine("tour booking not null but hotel is");
        <div style="display:block; width:100%;">
            <div style="width:50%; float: left; display: inline-block;">
                <h5>Tour Booking</h5>
                <div>Name: @_tourInfo.Name</div>
                <div>Duration: @_tourInfo.Duration</div>
                <div>Cost: @_tourInfo.Cost</div>
            </div>
        </div>
    } 
}

@code {

    HotelBooking? _hotelBooking;

    TourBookingInfoDto? _tourInfo;

    protected override async Task OnInitializedAsync()
    {
        var tourResult = await Http.GetFromJsonAsync<TourBookingInfoDto>("/api/Booking/TourBookingInfo");
        // var hotelResult = await Http.GetFromJsonAsync<List<HotelBooking>>("/api/Booking/HotelBookingInfo");
        HotelBookingInfoDto? hotelResult = null;
        if (tourResult != null)
        {
            _tourInfo = tourResult;
        }
    }
    
}