@page "/Hotels"
@using PacificTours.Client.Components
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<h3>Hotels</h3>

<br/>

<div>
    <button class="btn btn-primary" @onclick="ShowAll">All Hotels</button>
    <button class="btn btn-primary" @onclick="ShowSearch">Hotel Search</button>
</div>
<br/><br/>

@if (_showAll)
{
    <AllHotels />
}
else if (_showSearch)
{
    <HotelSearch />
}


@code {

    private string _userId = "";
    private string _userName;
    private bool _showAll;
    private bool _showSearch;
    
    protected override async Task OnInitializedAsync()
    {
        await AuthUser();
        await base.OnInitializedAsync();
    }

    private async Task AuthUser()
    {
        var myStateProv = AuthenticationStateProvider as CustomAuthenticationStateProvider;
        var authState = await myStateProv.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.Name == "")
        {
            // forceLoad needed to actually load the page, otherwise url changes, but redirect doesn't occur
            NavigationManager.NavigateTo("/Identity/Account/Login", forceLoad: true);
        }
    }

    private void ShowAll()
    {
        _showAll = true;
        _showSearch = false;

    }
    private void ShowSearch()
    {
        _showAll = false;
        _showSearch = true;

    }
}