@page "/"
@using System.Security.Claims
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Index</PageTitle>

<h1>@_authMessage</h1>

Welcome to your new app.

<p>@_userId</p>

@code {

    private string _userId;
    private string _authMessage;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    protected override async Task OnParametersSetAsync()
    {
        await GetStuff();
        await base.OnParametersSetAsync();
    }

    private async Task GetStuff()
    {
        var myStateProv = AuthenticationStateProvider as CustomAuthenticationStateProvider;
        var authState = await myStateProv.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _userId = $"User Id: {_claims.First().Value}";
        }
        else
        {
            _authMessage = "the user is NOT authenticated.";
        }

    }

}