@page "/"
@using System.Security.Claims
@using PacificTours.Shared.Entities
@using PacificTours.Client.Components
@using PacificTours.Shared
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>

@if (_userId == "")
{
    <p>Loading...</p>
}
else
{
    <h1>Welcome to your account, @_userName</h1>
    <br/>
    
    <h4>Your User ID is: @_userId</h4>
    
    <br/><br/><br/><br/>
    @if (_showBookings)
    {
        <AllBookings /> 
    }
    
}


@code {

    private string _userId = "";
    private string _userName;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private bool _showBookings;
    

    protected override async Task OnInitializedAsync()
    {
        await AuthUser();
        var bookingResult = await Http.GetFromJsonAsync<List<Booking>>("api/Booking/GetAllUsersBookings");

        if (bookingResult is not null && bookingResult.First().Status != "Voided")
        {
            _showBookings = true;
        }
        await base.OnInitializedAsync();
    }
    

    private async Task AuthUser()
    {
        var myStateProv = AuthenticationStateProvider as CustomAuthenticationStateProvider;
        var authState = await myStateProv.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.Name != "")
        {
            _userName = user.Identity.Name;
            _claims = user.Claims;
            _userId = $"{_claims.First().Value}";
        }
        else
        {
            // forceLoad needed to actually load the page, otherwise url changes, but redirect doesn't occur
            NavigationManager.NavigateTo("/Identity/Account/Login", forceLoad:true);
        }
    }


}
