@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="/Identity/Account">Hello, @context.User.Identity?.Name!</a>
    </Authorized>
    <NotAuthorized>
        <a href="/Identity/Account/Register">Register</a>
        <a href="/Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<h3>LoggedInDisplay</h3>

@code {
    
}